In [43]:
# Dependencies
import numpy as np
import pandas as pd

In [44]:
# Store filepath in a variable
raw_file = "Data Cleaning/Raw Data/undesa_pd_2020_ims_stock_by_sex_destination_and_origin.xlsx"

In [45]:
#Reading Excel File
raw_file_df = pd.read_excel(raw_file, "Table 1", header = 10)
raw_file_df

,Index,"Region, development group, country or area of destination",Notes of destination,Location code of destination,Type of data of destination,"Region, development group, country or area of origin",Location code of origin,1990,1995,2000,...,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2
0,1,WORLD,NaN,900,NaN,WORLD,900,152986157,161289976,173230585,...,113940881,128238058,145655844,75422690,79708475,85510752,93783747,107042306,119720586,134942261
1,2,WORLD,NaN,900,NaN,Sub-Saharan Africa,947,15334807,16488973,15638014,...,10531120,12578348,14732802,7197963,7811167,7391439,8047927,9411604,11618863,13551736
2,3,WORLD,NaN,900,NaN,Northern Africa and Western Asia,1833,16365218,18069437,19437054,...,14249463,18177303,20941050,7535205,8240176,8700647,9770550,11064248,14428744,16622770
3,4,WORLD,NaN,900,NaN,Central and Southern Asia,921,31104020,29069983,30897694,...,24444167,27971106,31211577,14049348,13027520,13718322,14451806,16638221,18510024,20017972
4,5,WORLD,NaN,900,NaN,Eastern and South-Eastern Asia,1832,14774419,17860923,21440854,...,15130964,17150433,18801912,7359668,8999164,10940422,13069932,15846242,18055157,19598828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37046,37047,Wallis and Futuna Islands*,41.0,876,B R,French Polynesia*,258,18,23,28,...,10,8,5,8,11,13,16,9,7,5
37047,37048,Wallis and Futuna Islands*,41.0,876,B R,Mayotte*,175,35,44,52,...,23,26,18,16,20,24,28,18,12,9
37048,37049,Wallis and Futuna Islands*,41.0,876,B R,New Caledonia*,540,843,975,1152,...,548,508,509,410,480,574,598,545,513,512
37049,37050,Wallis and Futuna Islands*,41.0,876,B R,Vanuatu,548,152,165,195,...,70,38,39,73,80,96,97,68,34,28
37050,37051,Wallis and Futuna Islands*,41.0,876,B R,Other,2003,27,36,43,...,13,12,13,12,16,20,25,12,15,13

In [46]:
#Checking Datatypes
raw_file_df.dtypes

Index                                                          int64
Region, development group, country or area of destination     object
Notes of destination                                         float64
Location code of destination                                   int64
Type of data of destination                                   object
Region, development group, country or area of origin          object
Location code of origin                                        int64
1990                                                           int64
1995                                                           int64
2000                                                           int64
2005                                                           int64
2010                                                           int64
2015                                                           int64
2020                                                           int64
1990.1                                                         int64
1995.1                                                         int64
2000.1                                                         int64
2005.1                                                         int64
2010.1                                                         int64
2015.1                                                         int64
2020.1                                                         int64
1990.2                                                         int64
1995.2                                                         int64
2000.2                                                         int64
2005.2                                                         int64
2010.2                                                         int64
2015.2                                                         int64
2020.2                                                         int64
dtype: object

In [47]:
#Filtering the dataset to what we need
filtered_df = raw_file_df.iloc[:,[1, 5, 12, 13, 19, 20, 26,27]]
filtered_df

,"Region, development group, country or area of destination","Region, development group, country or area of origin",2015,2020,2015.1,2020.1,2015.2,2020.2
0,WORLD,WORLD,247958644,280598105,128238058,145655844,119720586,134942261
1,WORLD,Sub-Saharan Africa,24197211,28284538,12578348,14732802,11618863,13551736
2,WORLD,Northern Africa and Western Asia,32606047,37563820,18177303,20941050,14428744,16622770
3,WORLD,Central and Southern Asia,46481130,51229549,27971106,31211577,18510024,20017972
4,WORLD,Eastern and South-Eastern Asia,35205590,38400740,17150433,18801912,18055157,19598828
...,...,...,...,...,...,...,...,...
37046,Wallis and Futuna Islands*,French Polynesia*,15,10,8,5,7,5
37047,Wallis and Futuna Islands*,Mayotte*,38,27,26,18,12,9
37048,Wallis and Futuna Islands*,New Caledonia*,1021,1021,508,509,513,512
37049,Wallis and Futuna Islands*,Vanuatu,72,67,38,39,34,28
37050,Wallis and Futuna Islands*,Other,27,26,12,13,15,13

In [48]:
#Checking Datatypes again
filtered_df.dtypes

Region, development group, country or area of destination    object
Region, development group, country or area of origin         object
2015                                                          int64
2020                                                          int64
2015.1                                                        int64
2020.1                                                        int64
2015.2                                                        int64
2020.2                                                        int64
dtype: object

In [107]:
#Renaming columns
filtered_df.columns = ['Destination', 'Origin', '2015 Combined', '2020 Combined', '2015 Males', '2020 Males', '2015 Females', '2020 Females']
filtered_df

,Destination,Origin,2015 Combined,2020 Combined,2015 Males,2020 Males,2015 Females,2020 Females
0,WORLD,WORLD,247958644,280598105,128238058,145655844,119720586,134942261
1,WORLD,Sub-Saharan Africa,24197211,28284538,12578348,14732802,11618863,13551736
2,WORLD,Northern Africa and Western Asia,32606047,37563820,18177303,20941050,14428744,16622770
3,WORLD,Central and Southern Asia,46481130,51229549,27971106,31211577,18510024,20017972
4,WORLD,Eastern and South-Eastern Asia,35205590,38400740,17150433,18801912,18055157,19598828
...,...,...,...,...,...,...,...,...
37046,Wallis and Futuna Islands*,French Polynesia*,15,10,8,5,7,5
37047,Wallis and Futuna Islands*,Mayotte*,38,27,26,18,12,9
37048,Wallis and Futuna Islands*,New Caledonia*,1021,1021,508,509,513,512
37049,Wallis and Futuna Islands*,Vanuatu,72,67,38,39,34,28
37050,Wallis and Futuna Islands*,Other,27,26,12,13,15,13

In [108]:
#Writing this dataset to a CSV
filtered_df.to_csv("Data Cleaning/Raw Data/filtered_migration_data.csv", index=False)

In [109]:
#Reading the CSV
filtered_csv = pd.read_csv("Data Cleaning/Raw Data/filtered_migration_data.csv")
filtered_csv

,Destination,Origin,2015 Combined,2020 Combined,2015 Males,2020 Males,2015 Females,2020 Females
0,WORLD,WORLD,247958644,280598105,128238058,145655844,119720586,134942261
1,WORLD,Sub-Saharan Africa,24197211,28284538,12578348,14732802,11618863,13551736
2,WORLD,Northern Africa and Western Asia,32606047,37563820,18177303,20941050,14428744,16622770
3,WORLD,Central and Southern Asia,46481130,51229549,27971106,31211577,18510024,20017972
4,WORLD,Eastern and South-Eastern Asia,35205590,38400740,17150433,18801912,18055157,19598828
...,...,...,...,...,...,...,...,...
37046,Wallis and Futuna Islands*,French Polynesia*,15,10,8,5,7,5
37047,Wallis and Futuna Islands*,Mayotte*,38,27,26,18,12,9
37048,Wallis and Futuna Islands*,New Caledonia*,1021,1021,508,509,513,512
37049,Wallis and Futuna Islands*,Vanuatu,72,67,38,39,34,28
37050,Wallis and Futuna Islands*,Other,27,26,12,13,15,13

In [110]:
#Checking the datatypes
filtered_csv.dtypes

Destination      object
Origin           object
2015 Combined     int64
2020 Combined     int64
2015 Males        int64
2020 Males        int64
2015 Females      int64
2020 Females      int64
dtype: object

In [111]:
#Checking Distinct Values of Destination
distinct_values_destination = filtered_csv['Destination'].unique()
distinct_values_destination

array(['WORLD', '  Sub-Saharan Africa',
       '  Northern Africa and Western Asia',
       '  Central and Southern Asia', '  Eastern and South-Eastern Asia',
       '  Latin America and the Caribbean',
       '  Oceania (excluding Australia and New Zealand)',
       '  Australia and New Zealand', '  Europe and Northern America',
       '  Developed regions', '  Less developed regions',
       ' Less developed regions, excluding least developed countries',
       ' Less developed regions, excluding China',
       '  Least developed countries',
       '  Land-locked Developing Countries (LLDC)',
       '  Small island developing States (SIDS)',
       '  High-income countries', '  Middle-income countries',
       ' Upper-middle-income countries', ' Lower-middle-income countries',
       '  Low-income countries', ' AFRICA', '  Eastern Africa',
       '   Burundi', '   Comoros', '   Djibouti', '   Eritrea',
       '   Ethiopia', '   Kenya', '   Madagascar', '   Malawi',
       '   Mauritius*', '   Mayotte*', '   Mozambique', '   Réunion*',
       '   Rwanda', '   Seychelles', '   Somalia', '   South Sudan',
       '   Uganda', '   United Republic of Tanzania*', '   Zambia',
       '   Zimbabwe', '  Middle Africa', '   Angola', '   Cameroon',
       '   Central African Republic', '   Chad', '   Congo',
       '   Democratic Republic of the Congo', '   Equatorial Guinea',
       '   Gabon', '   Sao Tome and Principe', '  Northern Africa',
       '   Algeria', '   Egypt', '   Libya', '   Morocco', '   Sudan',
       '   Tunisia', '   Western Sahara', '  Southern Africa',
       '   Botswana', '   Eswatini', '   Lesotho', '   Namibia',
       '   South Africa', '  Western Africa', '   Benin',
       '   Burkina Faso', '   Cabo Verde', "   Côte d'Ivoire",
       '   Gambia', '   Ghana', '   Guinea', '   Guinea-Bissau',
       '   Liberia', '   Mali', '   Mauritania', '   Niger', '   Nigeria',
       '   Saint Helena*', '   Senegal', '   Sierra Leone', '   Togo',
       ' ASIA', '  Central Asia', '   Kazakhstan', '   Kyrgyzstan',
       '   Tajikistan', '   Turkmenistan', '   Uzbekistan',
       '  Eastern Asia', '   China*', '   China, Hong Kong SAR*',
       '   China, Macao SAR*', '   China, Taiwan Province of China*',
       "   Dem. People's Republic of Korea", '   Japan', '   Mongolia',
       '   Republic of Korea', '  South-Eastern Asia',
       '   Brunei Darussalam', '   Cambodia', '   Indonesia',
       "   Lao People's Democratic Republic", '   Malaysia*',
       '   Myanmar', '   Philippines', '   Singapore', '   Thailand',
       '   Timor-Leste', '   Viet Nam', '  Southern Asia',
       '   Afghanistan', '   Bangladesh', '   Bhutan', '   India',
       '   Iran (Islamic Republic of)', '   Maldives', '   Nepal',
       '   Pakistan', '   Sri Lanka', '  Western Asia', '   Armenia',
       '   Azerbaijan*', '   Bahrain', '   Cyprus*', '   Georgia*',
       '   Iraq', '   Israel', '   Jordan', '   Kuwait', '   Lebanon',
       '   Oman', '   Qatar', '   Saudi Arabia', '   State of Palestine*',
       '   Syrian Arab Republic', '   Turkey', '   United Arab Emirates',
       '   Yemen', ' EUROPE', '  Eastern Europe', '   Belarus',
       '   Bulgaria', '   Czechia', '   Hungary', '   Poland',
       '   Republic of Moldova*', '   Romania', '   Russian Federation',
       '   Slovakia', '   Ukraine*', '  Northern Europe',
       '   Channel Islands*', '   Denmark*', '   Estonia',
       '   Faroe Islands*', '   Finland*', '   Iceland', '   Ireland',
       '   Isle of Man*', '   Latvia', '   Lithuania', '   Norway*',
       '   Sweden', '   United Kingdom*', '  Southern Europe',
       '   Albania', '   Andorra', '   Bosnia and Herzegovina',
       '   Croatia', '   Gibraltar*', '   Greece', '   Holy See*',
       '   Italy', '   Malta', '   Montenegro', '   North Macedonia',
       '   Portugal', '   San Marino', '   Serbia*', '   Slovenia',
       '   Spain*', '  Western Europe', '   Austria', '   Belgium',
       '   France*', '   Germany', '   Liechtenstein', '   Luxembourg',
       '   Monaco', '   Netherlands*', '   Switzerland',
       ' LATIN AMERICA AND THE CARIBBEAN', '  Caribbean', '   Anguilla*',
       '   Antigua and Barbuda', '   Aruba*', '   Bahamas', '   Barbados',
       '   Bonaire, Sint Eustatius and Saba*',
       '   British Virgin Islands*', '   Cayman Islands*', '   Cuba',
       '   Curaçao*', '   Dominica', '   Dominican Republic',
       '   Grenada', '   Guadeloupe*', '   Haiti', '   Jamaica',
       '   Martinique*', '   Montserrat*', '   Puerto Rico*',
       '   Saint Barthélemy*', '   Saint Kitts and Nevis',
       '   Saint Lucia', '   Saint Martin (French part)*',
       '   Saint Vincent and the Grenadines',
       '   Sint Maarten (Dutch part)*', '   Trinidad and Tobago',
       '   Turks and Caicos Islands*', '   United States Virgin Islands*',
       '  Central America', '   Belize', '   Costa Rica',
       '   El Salvador', '   Guatemala', '   Honduras', '   Mexico',
       '   Nicaragua', '   Panama', '  South America', '   Argentina',
       '   Bolivia (Plurinational State of)', '   Brazil', '   Chile',
       '   Colombia', '   Ecuador', '   Falkland Islands (Malvinas)*',
       '   French Guiana*', '   Guyana', '   Paraguay', '   Peru',
       '   Suriname', '   Uruguay',
       '   Venezuela (Bolivarian Republic of)', ' NORTHERN AMERICA',
       '   Bermuda*', '   Canada', '   Greenland*',
       '   Saint Pierre and Miquelon*', '   United States of America*',
       ' OCEANIA ', '   Australia*', '   New Zealand*', '  Melanesia',
       '   Fiji', '   New Caledonia*', '   Papua New Guinea',
       '   Solomon Islands', '   Vanuatu', '  Micronesia', '   Guam*',
       '   Kiribati', '   Marshall Islands',
       '   Micronesia (Fed. States of)', '   Nauru',
       '   Northern Mariana Islands*', '   Palau', '  Polynesia*',
       '   American Samoa*', '   Cook Islands*', '   French Polynesia*',
       '   Niue*', '   Samoa', '   Tokelau*', '   Tonga', '   Tuvalu',
       '   Wallis and Futuna Islands*'], dtype=object)

In [112]:
#Checking Distinct Values of Origin
distinct_values_origin = filtered_csv['Origin'].unique()
distinct_values_origin

array(['WORLD', '  Sub-Saharan Africa',
       '  Northern Africa and Western Asia',
       '  Central and Southern Asia', '  Eastern and South-Eastern Asia',
       '  Latin America and the Caribbean',
       '  Oceania (excluding Australia and New Zealand)',
       '  Australia and New Zealand', '  Europe and Northern America',
       '  Developed regions', '  Less developed regions',
       ' Less developed regions, excluding least developed countries',
       ' Less developed regions, excluding China',
       '  Least developed countries',
       '  Land-locked Developing Countries (LLDC)',
       '  Small island developing States (SIDS)',
       '  High-income countries', '  Middle-income countries',
       ' Upper-middle-income countries', ' Lower-middle-income countries',
       '  Low-income countries', ' AFRICA', '  Eastern Africa',
       '  Middle Africa', '  Northern Africa', '  Southern Africa',
       '  Western Africa', ' ASIA', '  Central Asia', '  Eastern Asia',
       '  South-Eastern Asia', '  Southern Asia', '  Western Asia',
       ' EUROPE', '  Eastern Europe', '  Northern Europe',
       '  Southern Europe', '  Western Europe',
       ' LATIN AMERICA AND THE CARIBBEAN', '  Caribbean',
       '  Central America', '  South America', ' NORTHERN AMERICA',
       ' OCEANIA ', '  Melanesia', '  Micronesia', '  Polynesia*',
       '   Burundi', '   Comoros', '   Djibouti', '   Eritrea',
       '   Ethiopia', '   Kenya', '   Madagascar', '   Malawi',
       '   Mauritius*', '   Mayotte*', '   Mozambique', '   Réunion*',
       '   Rwanda', '   Seychelles', '   Somalia', '   South Sudan',
       '   Uganda', '   United Republic of Tanzania*', '   Zambia',
       '   Zimbabwe', '   Angola', '   Cameroon',
       '   Central African Republic', '   Chad', '   Congo',
       '   Democratic Republic of the Congo', '   Equatorial Guinea',
       '   Gabon', '   Sao Tome and Principe', '   Algeria', '   Egypt',
       '   Libya', '   Morocco', '   Sudan', '   Tunisia',
       '   Western Sahara', '   Botswana', '   Eswatini', '   Lesotho',
       '   Namibia', '   South Africa', '   Benin', '   Burkina Faso',
       '   Cabo Verde', "   Côte d'Ivoire", '   Gambia', '   Ghana',
       '   Guinea', '   Guinea-Bissau', '   Liberia', '   Mali',
       '   Mauritania', '   Niger', '   Nigeria', '   Saint Helena*',
       '   Senegal', '   Sierra Leone', '   Togo', '   Kazakhstan',
       '   Kyrgyzstan', '   Tajikistan', '   Turkmenistan',
       '   Uzbekistan', '   China*', '   China, Hong Kong SAR*',
       '   China, Macao SAR*', '   China, Taiwan Province of China*',
       "   Dem. People's Republic of Korea", '   Japan', '   Mongolia',
       '   Republic of Korea', '   Brunei Darussalam', '   Cambodia',
       '   Indonesia', "   Lao People's Democratic Republic",
       '   Malaysia*', '   Myanmar', '   Philippines', '   Singapore',
       '   Thailand', '   Timor-Leste', '   Viet Nam', '   Afghanistan',
       '   Bangladesh', '   Bhutan', '   India',
       '   Iran (Islamic Republic of)', '   Maldives', '   Nepal',
       '   Pakistan', '   Sri Lanka', '   Armenia', '   Azerbaijan*',
       '   Bahrain', '   Cyprus*', '   Georgia*', '   Iraq', '   Israel',
       '   Jordan', '   Kuwait', '   Lebanon', '   Oman', '   Qatar',
       '   Saudi Arabia', '   State of Palestine*',
       '   Syrian Arab Republic', '   Turkey', '   United Arab Emirates',
       '   Yemen', '   Belarus', '   Bulgaria', '   Czechia',
       '   Hungary', '   Poland', '   Republic of Moldova*', '   Romania',
       '   Russian Federation', '   Slovakia', '   Ukraine*',
       '   Channel Islands*', '   Denmark*', '   Estonia',
       '   Faroe Islands*', '   Finland*', '   Iceland', '   Ireland',
       '   Isle of Man*', '   Latvia', '   Lithuania', '   Norway*',
       '   Sweden', '   United Kingdom*', '   Albania', '   Andorra',
       '   Bosnia and Herzegovina', '   Croatia', '   Gibraltar*',
       '   Greece', '   Holy See*', '   Italy', '   Malta',
       '   Montenegro', '   North Macedonia', '   Portugal',
       '   San Marino', '   Serbia*', '   Slovenia', '   Spain*',
       '   Austria', '   Belgium', '   France*', '   Germany',
       '   Liechtenstein', '   Luxembourg', '   Monaco',
       '   Netherlands*', '   Switzerland', '   Anguilla*',
       '   Antigua and Barbuda', '   Aruba*', '   Bahamas', '   Barbados',
       '   Bonaire, Sint Eustatius and Saba*',
       '   British Virgin Islands*', '   Cayman Islands*', '   Cuba',
       '   Curaçao*', '   Dominica', '   Dominican Republic',
       '   Grenada', '   Guadeloupe*', '   Haiti', '   Jamaica',
       '   Martinique*', '   Montserrat*', '   Puerto Rico*',
       '   Saint Barthélemy*', '   Saint Kitts and Nevis',
       '   Saint Lucia', '   Saint Martin (French part)*',
       '   Saint Vincent and the Grenadines',
       '   Sint Maarten (Dutch part)*', '   Trinidad and Tobago',
       '   Turks and Caicos Islands*', '   United States Virgin Islands*',
       '   Belize', '   Costa Rica', '   El Salvador', '   Guatemala',
       '   Honduras', '   Mexico', '   Nicaragua', '   Panama',
       '   Argentina', '   Bolivia (Plurinational State of)', '   Brazil',
       '   Chile', '   Colombia', '   Ecuador',
       '   Falkland Islands (Malvinas)*', '   French Guiana*',
       '   Guyana', '   Paraguay', '   Peru', '   Suriname', '   Uruguay',
       '   Venezuela (Bolivarian Republic of)', '   Bermuda*',
       '   Canada', '   Greenland*', '   Saint Pierre and Miquelon*',
       '   United States of America*', '   Australia*', '   New Zealand*',
       '   Fiji', '   New Caledonia*', '   Papua New Guinea',
       '   Solomon Islands', '   Vanuatu', '   Guam*', '   Kiribati',
       '   Marshall Islands', '   Micronesia (Fed. States of)',
       '   Nauru', '   Northern Mariana Islands*', '   Palau',
       '   American Samoa*', '   Cook Islands*', '   French Polynesia*',
       '   Niue*', '   Samoa', '   Tokelau*', '   Tonga', '   Tuvalu',
       '   Wallis and Futuna Islands*', 'Other'], dtype=object)

In [113]:
#It seems like there are extra spaces in each column values so using the strip function
filtered_csv['Destination'] = filtered_csv['Destination'].str.strip()
filtered_csv['Origin'] = filtered_csv['Origin'].str.strip()

In [114]:
#Checking Distinct Values of Destination to confirm the removal of spaces
distinct_values_destination = filtered_csv['Destination'].unique()
distinct_values_destination

array(['WORLD', 'Sub-Saharan Africa', 'Northern Africa and Western Asia',
       'Central and Southern Asia', 'Eastern and South-Eastern Asia',
       'Latin America and the Caribbean',
       'Oceania (excluding Australia and New Zealand)',
       'Australia and New Zealand', 'Europe and Northern America',
       'Developed regions', 'Less developed regions',
       'Less developed regions, excluding least developed countries',
       'Less developed regions, excluding China',
       'Least developed countries',
       'Land-locked Developing Countries (LLDC)',
       'Small island developing States (SIDS)', 'High-income countries',
       'Middle-income countries', 'Upper-middle-income countries',
       'Lower-middle-income countries', 'Low-income countries', 'AFRICA',
       'Eastern Africa', 'Burundi', 'Comoros', 'Djibouti', 'Eritrea',
       'Ethiopia', 'Kenya', 'Madagascar', 'Malawi', 'Mauritius*',
       'Mayotte*', 'Mozambique', 'Réunion*', 'Rwanda', 'Seychelles',
       'Somalia', 'South Sudan', 'Uganda', 'United Republic of Tanzania*',
       'Zambia', 'Zimbabwe', 'Middle Africa', 'Angola', 'Cameroon',
       'Central African Republic', 'Chad', 'Congo',
       'Democratic Republic of the Congo', 'Equatorial Guinea', 'Gabon',
       'Sao Tome and Principe', 'Northern Africa', 'Algeria', 'Egypt',
       'Libya', 'Morocco', 'Sudan', 'Tunisia', 'Western Sahara',
       'Southern Africa', 'Botswana', 'Eswatini', 'Lesotho', 'Namibia',
       'South Africa', 'Western Africa', 'Benin', 'Burkina Faso',
       'Cabo Verde', "Côte d'Ivoire", 'Gambia', 'Ghana', 'Guinea',
       'Guinea-Bissau', 'Liberia', 'Mali', 'Mauritania', 'Niger',
       'Nigeria', 'Saint Helena*', 'Senegal', 'Sierra Leone', 'Togo',
       'ASIA', 'Central Asia', 'Kazakhstan', 'Kyrgyzstan', 'Tajikistan',
       'Turkmenistan', 'Uzbekistan', 'Eastern Asia', 'China*',
       'China, Hong Kong SAR*', 'China, Macao SAR*',
       'China, Taiwan Province of China*',
       "Dem. People's Republic of Korea", 'Japan', 'Mongolia',
       'Republic of Korea', 'South-Eastern Asia', 'Brunei Darussalam',
       'Cambodia', 'Indonesia', "Lao People's Democratic Republic",
       'Malaysia*', 'Myanmar', 'Philippines', 'Singapore', 'Thailand',
       'Timor-Leste', 'Viet Nam', 'Southern Asia', 'Afghanistan',
       'Bangladesh', 'Bhutan', 'India', 'Iran (Islamic Republic of)',
       'Maldives', 'Nepal', 'Pakistan', 'Sri Lanka', 'Western Asia',
       'Armenia', 'Azerbaijan*', 'Bahrain', 'Cyprus*', 'Georgia*', 'Iraq',
       'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Oman', 'Qatar',
       'Saudi Arabia', 'State of Palestine*', 'Syrian Arab Republic',
       'Turkey', 'United Arab Emirates', 'Yemen', 'EUROPE',
       'Eastern Europe', 'Belarus', 'Bulgaria', 'Czechia', 'Hungary',
       'Poland', 'Republic of Moldova*', 'Romania', 'Russian Federation',
       'Slovakia', 'Ukraine*', 'Northern Europe', 'Channel Islands*',
       'Denmark*', 'Estonia', 'Faroe Islands*', 'Finland*', 'Iceland',
       'Ireland', 'Isle of Man*', 'Latvia', 'Lithuania', 'Norway*',
       'Sweden', 'United Kingdom*', 'Southern Europe', 'Albania',
       'Andorra', 'Bosnia and Herzegovina', 'Croatia', 'Gibraltar*',
       'Greece', 'Holy See*', 'Italy', 'Malta', 'Montenegro',
       'North Macedonia', 'Portugal', 'San Marino', 'Serbia*', 'Slovenia',
       'Spain*', 'Western Europe', 'Austria', 'Belgium', 'France*',
       'Germany', 'Liechtenstein', 'Luxembourg', 'Monaco', 'Netherlands*',
       'Switzerland', 'LATIN AMERICA AND THE CARIBBEAN', 'Caribbean',
       'Anguilla*', 'Antigua and Barbuda', 'Aruba*', 'Bahamas',
       'Barbados', 'Bonaire, Sint Eustatius and Saba*',
       'British Virgin Islands*', 'Cayman Islands*', 'Cuba', 'Curaçao*',
       'Dominica', 'Dominican Republic', 'Grenada', 'Guadeloupe*',
       'Haiti', 'Jamaica', 'Martinique*', 'Montserrat*', 'Puerto Rico*',
       'Saint Barthélemy*', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)*', 'Saint Vincent and the Grenadines',
       'Sint Maarten (Dutch part)*', 'Trinidad and Tobago',
       'Turks and Caicos Islands*', 'United States Virgin Islands*',
       'Central America', 'Belize', 'Costa Rica', 'El Salvador',
       'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama',
       'South America', 'Argentina', 'Bolivia (Plurinational State of)',
       'Brazil', 'Chile', 'Colombia', 'Ecuador',
       'Falkland Islands (Malvinas)*', 'French Guiana*', 'Guyana',
       'Paraguay', 'Peru', 'Suriname', 'Uruguay',
       'Venezuela (Bolivarian Republic of)', 'NORTHERN AMERICA',
       'Bermuda*', 'Canada', 'Greenland*', 'Saint Pierre and Miquelon*',
       'United States of America*', 'OCEANIA', 'Australia*',
       'New Zealand*', 'Melanesia', 'Fiji', 'New Caledonia*',
       'Papua New Guinea', 'Solomon Islands', 'Vanuatu', 'Micronesia',
       'Guam*', 'Kiribati', 'Marshall Islands',
       'Micronesia (Fed. States of)', 'Nauru',
       'Northern Mariana Islands*', 'Palau', 'Polynesia*',
       'American Samoa*', 'Cook Islands*', 'French Polynesia*', 'Niue*',
       'Samoa', 'Tokelau*', 'Tonga', 'Tuvalu',
       'Wallis and Futuna Islands*'], dtype=object)

In [115]:
#Removing '*' from Destination and Origin Names 
filtered_csv['Destination'] = filtered_csv['Destination'].str.replace('*', '')
filtered_csv['Origin'] = filtered_csv['Origin'].str.replace('*', '')

/var/folders/sk/y266km_n6yd8qvbcvj3d15fm0000gn/T/ipykernel_4583/76813174.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  filtered_csv['Destination'] = filtered_csv['Destination'].str.replace('*', '')
/var/folders/sk/y266km_n6yd8qvbcvj3d15fm0000gn/T/ipykernel_4583/76813174.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  filtered_csv['Origin'] = filtered_csv['Origin'].str.replace('*', '')

In [116]:
#Checking Distinct Values of Destination
distinct_values_destination = filtered_csv['Destination'].unique()
distinct_values_destination

array(['WORLD', 'Sub-Saharan Africa', 'Northern Africa and Western Asia',
       'Central and Southern Asia', 'Eastern and South-Eastern Asia',
       'Latin America and the Caribbean',
       'Oceania (excluding Australia and New Zealand)',
       'Australia and New Zealand', 'Europe and Northern America',
       'Developed regions', 'Less developed regions',
       'Less developed regions, excluding least developed countries',
       'Less developed regions, excluding China',
       'Least developed countries',
       'Land-locked Developing Countries (LLDC)',
       'Small island developing States (SIDS)', 'High-income countries',
       'Middle-income countries', 'Upper-middle-income countries',
       'Lower-middle-income countries', 'Low-income countries', 'AFRICA',
       'Eastern Africa', 'Burundi', 'Comoros', 'Djibouti', 'Eritrea',
       'Ethiopia', 'Kenya', 'Madagascar', 'Malawi', 'Mauritius',
       'Mayotte', 'Mozambique', 'Réunion', 'Rwanda', 'Seychelles',
       'Somalia', 'South Sudan', 'Uganda', 'United Republic of Tanzania',
       'Zambia', 'Zimbabwe', 'Middle Africa', 'Angola', 'Cameroon',
       'Central African Republic', 'Chad', 'Congo',
       'Democratic Republic of the Congo', 'Equatorial Guinea', 'Gabon',
       'Sao Tome and Principe', 'Northern Africa', 'Algeria', 'Egypt',
       'Libya', 'Morocco', 'Sudan', 'Tunisia', 'Western Sahara',
       'Southern Africa', 'Botswana', 'Eswatini', 'Lesotho', 'Namibia',
       'South Africa', 'Western Africa', 'Benin', 'Burkina Faso',
       'Cabo Verde', "Côte d'Ivoire", 'Gambia', 'Ghana', 'Guinea',
       'Guinea-Bissau', 'Liberia', 'Mali', 'Mauritania', 'Niger',
       'Nigeria', 'Saint Helena', 'Senegal', 'Sierra Leone', 'Togo',
       'ASIA', 'Central Asia', 'Kazakhstan', 'Kyrgyzstan', 'Tajikistan',
       'Turkmenistan', 'Uzbekistan', 'Eastern Asia', 'China',
       'China, Hong Kong SAR', 'China, Macao SAR',
       'China, Taiwan Province of China',
       "Dem. People's Republic of Korea", 'Japan', 'Mongolia',
       'Republic of Korea', 'South-Eastern Asia', 'Brunei Darussalam',
       'Cambodia', 'Indonesia', "Lao People's Democratic Republic",
       'Malaysia', 'Myanmar', 'Philippines', 'Singapore', 'Thailand',
       'Timor-Leste', 'Viet Nam', 'Southern Asia', 'Afghanistan',
       'Bangladesh', 'Bhutan', 'India', 'Iran (Islamic Republic of)',
       'Maldives', 'Nepal', 'Pakistan', 'Sri Lanka', 'Western Asia',
       'Armenia', 'Azerbaijan', 'Bahrain', 'Cyprus', 'Georgia', 'Iraq',
       'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Oman', 'Qatar',
       'Saudi Arabia', 'State of Palestine', 'Syrian Arab Republic',
       'Turkey', 'United Arab Emirates', 'Yemen', 'EUROPE',
       'Eastern Europe', 'Belarus', 'Bulgaria', 'Czechia', 'Hungary',
       'Poland', 'Republic of Moldova', 'Romania', 'Russian Federation',
       'Slovakia', 'Ukraine', 'Northern Europe', 'Channel Islands',
       'Denmark', 'Estonia', 'Faroe Islands', 'Finland', 'Iceland',
       'Ireland', 'Isle of Man', 'Latvia', 'Lithuania', 'Norway',
       'Sweden', 'United Kingdom', 'Southern Europe', 'Albania',
       'Andorra', 'Bosnia and Herzegovina', 'Croatia', 'Gibraltar',
       'Greece', 'Holy See', 'Italy', 'Malta', 'Montenegro',
       'North Macedonia', 'Portugal', 'San Marino', 'Serbia', 'Slovenia',
       'Spain', 'Western Europe', 'Austria', 'Belgium', 'France',
       'Germany', 'Liechtenstein', 'Luxembourg', 'Monaco', 'Netherlands',
       'Switzerland', 'LATIN AMERICA AND THE CARIBBEAN', 'Caribbean',
       'Anguilla', 'Antigua and Barbuda', 'Aruba', 'Bahamas', 'Barbados',
       'Bonaire, Sint Eustatius and Saba', 'British Virgin Islands',
       'Cayman Islands', 'Cuba', 'Curaçao', 'Dominica',
       'Dominican Republic', 'Grenada', 'Guadeloupe', 'Haiti', 'Jamaica',
       'Martinique', 'Montserrat', 'Puerto Rico', 'Saint Barthélemy',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Vincent and the Grenadines',
       'Sint Maarten (Dutch part)', 'Trinidad and Tobago',
       'Turks and Caicos Islands', 'United States Virgin Islands',
       'Central America', 'Belize', 'Costa Rica', 'El Salvador',
       'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama',
       'South America', 'Argentina', 'Bolivia (Plurinational State of)',
       'Brazil', 'Chile', 'Colombia', 'Ecuador',
       'Falkland Islands (Malvinas)', 'French Guiana', 'Guyana',
       'Paraguay', 'Peru', 'Suriname', 'Uruguay',
       'Venezuela (Bolivarian Republic of)', 'NORTHERN AMERICA',
       'Bermuda', 'Canada', 'Greenland', 'Saint Pierre and Miquelon',
       'United States of America', 'OCEANIA', 'Australia', 'New Zealand',
       'Melanesia', 'Fiji', 'New Caledonia', 'Papua New Guinea',
       'Solomon Islands', 'Vanuatu', 'Micronesia', 'Guam', 'Kiribati',
       'Marshall Islands', 'Micronesia (Fed. States of)', 'Nauru',
       'Northern Mariana Islands', 'Palau', 'Polynesia', 'American Samoa',
       'Cook Islands', 'French Polynesia', 'Niue', 'Samoa', 'Tokelau',
       'Tonga', 'Tuvalu', 'Wallis and Futuna Islands'], dtype=object)

In [117]:
#Checking Distinct Values of Origin
distinct_values_origin = filtered_csv['Origin'].unique()
distinct_values_origin

array(['WORLD', 'Sub-Saharan Africa', 'Northern Africa and Western Asia',
       'Central and Southern Asia', 'Eastern and South-Eastern Asia',
       'Latin America and the Caribbean',
       'Oceania (excluding Australia and New Zealand)',
       'Australia and New Zealand', 'Europe and Northern America',
       'Developed regions', 'Less developed regions',
       'Less developed regions, excluding least developed countries',
       'Less developed regions, excluding China',
       'Least developed countries',
       'Land-locked Developing Countries (LLDC)',
       'Small island developing States (SIDS)', 'High-income countries',
       'Middle-income countries', 'Upper-middle-income countries',
       'Lower-middle-income countries', 'Low-income countries', 'AFRICA',
       'Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'ASIA', 'Central Asia',
       'Eastern Asia', 'South-Eastern Asia', 'Southern Asia',
       'Western Asia', 'EUROPE', 'Eastern Europe', 'Northern Europe',
       'Southern Europe', 'Western Europe',
       'LATIN AMERICA AND THE CARIBBEAN', 'Caribbean', 'Central America',
       'South America', 'NORTHERN AMERICA', 'OCEANIA', 'Melanesia',
       'Micronesia', 'Polynesia', 'Burundi', 'Comoros', 'Djibouti',
       'Eritrea', 'Ethiopia', 'Kenya', 'Madagascar', 'Malawi',
       'Mauritius', 'Mayotte', 'Mozambique', 'Réunion', 'Rwanda',
       'Seychelles', 'Somalia', 'South Sudan', 'Uganda',
       'United Republic of Tanzania', 'Zambia', 'Zimbabwe', 'Angola',
       'Cameroon', 'Central African Republic', 'Chad', 'Congo',
       'Democratic Republic of the Congo', 'Equatorial Guinea', 'Gabon',
       'Sao Tome and Principe', 'Algeria', 'Egypt', 'Libya', 'Morocco',
       'Sudan', 'Tunisia', 'Western Sahara', 'Botswana', 'Eswatini',
       'Lesotho', 'Namibia', 'South Africa', 'Benin', 'Burkina Faso',
       'Cabo Verde', "Côte d'Ivoire", 'Gambia', 'Ghana', 'Guinea',
       'Guinea-Bissau', 'Liberia', 'Mali', 'Mauritania', 'Niger',
       'Nigeria', 'Saint Helena', 'Senegal', 'Sierra Leone', 'Togo',
       'Kazakhstan', 'Kyrgyzstan', 'Tajikistan', 'Turkmenistan',
       'Uzbekistan', 'China', 'China, Hong Kong SAR', 'China, Macao SAR',
       'China, Taiwan Province of China',
       "Dem. People's Republic of Korea", 'Japan', 'Mongolia',
       'Republic of Korea', 'Brunei Darussalam', 'Cambodia', 'Indonesia',
       "Lao People's Democratic Republic", 'Malaysia', 'Myanmar',
       'Philippines', 'Singapore', 'Thailand', 'Timor-Leste', 'Viet Nam',
       'Afghanistan', 'Bangladesh', 'Bhutan', 'India',
       'Iran (Islamic Republic of)', 'Maldives', 'Nepal', 'Pakistan',
       'Sri Lanka', 'Armenia', 'Azerbaijan', 'Bahrain', 'Cyprus',
       'Georgia', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Oman',
       'Qatar', 'Saudi Arabia', 'State of Palestine',
       'Syrian Arab Republic', 'Turkey', 'United Arab Emirates', 'Yemen',
       'Belarus', 'Bulgaria', 'Czechia', 'Hungary', 'Poland',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Slovakia',
       'Ukraine', 'Channel Islands', 'Denmark', 'Estonia',
       'Faroe Islands', 'Finland', 'Iceland', 'Ireland', 'Isle of Man',
       'Latvia', 'Lithuania', 'Norway', 'Sweden', 'United Kingdom',
       'Albania', 'Andorra', 'Bosnia and Herzegovina', 'Croatia',
       'Gibraltar', 'Greece', 'Holy See', 'Italy', 'Malta', 'Montenegro',
       'North Macedonia', 'Portugal', 'San Marino', 'Serbia', 'Slovenia',
       'Spain', 'Austria', 'Belgium', 'France', 'Germany',
       'Liechtenstein', 'Luxembourg', 'Monaco', 'Netherlands',
       'Switzerland', 'Anguilla', 'Antigua and Barbuda', 'Aruba',
       'Bahamas', 'Barbados', 'Bonaire, Sint Eustatius and Saba',
       'British Virgin Islands', 'Cayman Islands', 'Cuba', 'Curaçao',
       'Dominica', 'Dominican Republic', 'Grenada', 'Guadeloupe', 'Haiti',
       'Jamaica', 'Martinique', 'Montserrat', 'Puerto Rico',
       'Saint Barthélemy', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Vincent and the Grenadines',
       'Sint Maarten (Dutch part)', 'Trinidad and Tobago',
       'Turks and Caicos Islands', 'United States Virgin Islands',
       'Belize', 'Costa Rica', 'El Salvador', 'Guatemala', 'Honduras',
       'Mexico', 'Nicaragua', 'Panama', 'Argentina',
       'Bolivia (Plurinational State of)', 'Brazil', 'Chile', 'Colombia',
       'Ecuador', 'Falkland Islands (Malvinas)', 'French Guiana',
       'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay',
       'Venezuela (Bolivarian Republic of)', 'Bermuda', 'Canada',
       'Greenland', 'Saint Pierre and Miquelon',
       'United States of America', 'Australia', 'New Zealand', 'Fiji',
       'New Caledonia', 'Papua New Guinea', 'Solomon Islands', 'Vanuatu',
       'Guam', 'Kiribati', 'Marshall Islands',
       'Micronesia (Fed. States of)', 'Nauru', 'Northern Mariana Islands',
       'Palau', 'American Samoa', 'Cook Islands', 'French Polynesia',
       'Niue', 'Samoa', 'Tokelau', 'Tonga', 'Tuvalu',
       'Wallis and Futuna Islands', 'Other'], dtype=object)

In [126]:
#Migrated to Countries Data Set
destination_dataset_df = filtered_csv.loc[filtered_csv['Destination'].isin(['Burundi', 'Comoros', 'Djibouti', 'Eritrea','Ethiopia', 'Kenya', 'Madagascar', 'Malawi', 'Mauritius','Mayotte', 'Mozambique', 'Réunion', 'Rwanda', 'Seychelles','Somalia', 'South Sudan', 'Uganda', 
                                                                            'United Republic of Tanzania','Zambia', 'Zimbabwe', 'Angola', 'Cameroon','Chad', 'Central African Republic', 'Congo','Democratic Republic of the Congo', 'Equatorial Guinea', 'Gabon','Sao Tome and Principe', 'Algeria', 'Egypt',
                                                                            'Libya', 'Morocco', 'Sudan', 'Tunisia', 'Western Sahara','Botswana', 'Eswatini', 'Lesotho', 'Namibia','South Africa', 'Benin', 'Burkina Faso','Cabo Verde', "Côte d'Ivoire", 'Gambia', 'Ghana', 'Guinea','Guinea-Bissau',
                                                                            'Liberia', 'Mali', 'Mauritania', 'Niger','Nigeria', 'Saint Helena', 'Senegal', 'Sierra Leone', 'Togo','Kazakhstan', 'Kyrgyzstan', 'Tajikistan','Turkmenistan', 'Uzbekistan', 'China','China, Hong Kong SAR',
                                                                            'China, Macao SAR','China, Taiwan Province of China',"Dem. People's Republic of Korea", 'Japan', 'Mongolia','Republic of Korea', 'Brunei Darussalam','Cambodia', 'Indonesia', "Lao People's Democratic Republic",
                                                                            'Malaysia', 'Myanmar', 'Philippines', 'Singapore', 'Thailand','Timor-Leste', 'Viet Nam','Afghanistan','Bangladesh', 'Bhutan', 'India', 'Iran (Islamic Republic of)', 'Maldives', 'Nepal', 'Pakistan', 'Sri Lanka',
                                                                            'Armenia', 'Azerbaijan', 'Bahrain', 'Cyprus', 'Georgia', 'Iraq','Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Oman', 'Qatar','Saudi Arabia', 'State of Palestine', 'Syrian Arab Republic','Turkey', 'United Arab Emirates',
                                                                            'Yemen','Belarus', 'Bulgaria', 'Czechia', 'Hungary','Poland', 'Republic of Moldova', 'Romania', 'Russian Federation','Slovakia', 'Ukraine', 'Channel Islands','Denmark', 'Estonia', 'Faroe Islands', 'Finland',
                                                                            'Iceland','Ireland', 'Isle of Man', 'Latvia', 'Lithuania', 'Norway','Sweden', 'United Kingdom', 'Albania','Andorra', 'Bosnia and Herzegovina', 'Croatia', 'Gibraltar','Greece', 'Holy See', 'Italy',
                                                                            'Malta', 'Montenegro','North Macedonia', 'Portugal', 'San Marino', 'Serbia', 'Slovenia','Spain','Austria', 'Belgium', 'France','Germany', 'Liechtenstein', 'Luxembourg', 'Monaco', 'Netherlands','Switzerland',
                                                                            'Anguilla', 'Antigua and Barbuda', 'Aruba', 'Bahamas', 'Barbados', 'Bonaire, Sint Eustatius and Saba', 'British Virgin Islands','Cayman Islands', 'Cuba', 'Curaçao', 'Dominica','Dominican Republic',
                                                                            'Grenada', 'Guadeloupe', 'Haiti', 'Jamaica','Martinique', 'Montserrat', 'Puerto Rico', 'Saint Barthélemy','Saint Kitts and Nevis', 'Saint Lucia','Saint Martin (French part)', 'Saint Vincent and the Grenadines',
                                                                            'Sint Maarten (Dutch part)', 'Trinidad and Tobago','Turks and Caicos Islands', 'United States Virgin Islands', 'Belize', 'Costa Rica', 'El Salvador','Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama',
                                                                            'South America', 'Argentina', 'Bolivia (Plurinational State of)','Brazil', 'Chile', 'Colombia', 'Ecuador','Falkland Islands (Malvinas)', 'French Guiana', 'Guyana','Paraguay', 'Peru', 'Suriname', 'Uruguay',
                                                                            'Venezuela (Bolivarian Republic of)', 'Bermuda', 'Canada', 'Greenland', 'Saint Pierre and Miquelon','United States of America', 'Australia', 'New Zealand', 'Fiji', 'New Caledonia', 'Papua New Guinea',
                                                                            'Solomon Islands', 'Vanuatu', 'Micronesia', 'Guam', 'Kiribati', 'Marshall Islands', 'Micronesia (Fed. States of)', 'Nauru','Northern Mariana Islands', 'Palau', 'American Samoa','Cook Islands',
                                                                            'French Polynesia', 'Niue', 'Samoa', 'Tokelau', 'Tonga', 'Tuvalu', 'Wallis and Futuna Islands'])]
destination_dataset_df

,Destination,Origin,2015 Combined,2020 Combined,2015 Males,2020 Males,2015 Females,2020 Females
6509,Burundi,WORLD,298299,344767,146970,170125,151329,174642
6510,Burundi,Sub-Saharan Africa,270062,311754,132768,153332,137294,158422
6511,Burundi,Northern Africa and Western Asia,0,0,0,0,0,0
6512,Burundi,Central and Southern Asia,0,0,0,0,0,0
6513,Burundi,Eastern and South-Eastern Asia,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
37046,Wallis and Futuna Islands,French Polynesia,15,10,8,5,7,5
37047,Wallis and Futuna Islands,Mayotte,38,27,26,18,12,9
37048,Wallis and Futuna Islands,New Caledonia,1021,1021,508,509,513,512
37049,Wallis and Futuna Islands,Vanuatu,72,67,38,39,34,28
37050,Wallis and Futuna Islands,Other,27,26,12,13,15,13

In [128]:
#Checking Distinct Values of Origin in Destination Data Set
distinct_values_origin_2 = destination_dataset_df['Origin'].unique()
distinct_values_origin_2

array(['WORLD', 'Sub-Saharan Africa', 'Northern Africa and Western Asia',
       'Central and Southern Asia', 'Eastern and South-Eastern Asia',
       'Latin America and the Caribbean',
       'Oceania (excluding Australia and New Zealand)',
       'Australia and New Zealand', 'Europe and Northern America',
       'Developed regions', 'Less developed regions',
       'Less developed regions, excluding least developed countries',
       'Less developed regions, excluding China',
       'Least developed countries',
       'Land-locked Developing Countries (LLDC)',
       'Small island developing States (SIDS)', 'High-income countries',
       'Middle-income countries', 'Upper-middle-income countries',
       'Lower-middle-income countries', 'Low-income countries', 'AFRICA',
       'Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'ASIA', 'Central Asia',
       'Eastern Asia', 'South-Eastern Asia', 'Southern Asia',
       'Western Asia', 'EUROPE', 'Eastern Europe', 'Northern Europe',
       'Southern Europe', 'Western Europe',
       'LATIN AMERICA AND THE CARIBBEAN', 'Caribbean', 'Central America',
       'South America', 'NORTHERN AMERICA', 'OCEANIA', 'Melanesia',
       'Micronesia', 'Polynesia', 'Belgium',
       'Democratic Republic of the Congo', 'France', 'Kenya', 'Rwanda',
       'Uganda', 'United Republic of Tanzania', 'Other', 'Madagascar',
       'Réunion', 'Ethiopia', 'Somalia', 'Yemen', 'Angola', 'Burundi',
       'China', 'Comoros', 'India', 'Malawi', 'Mozambique',
       'South Africa', 'Zimbabwe', 'South Sudan', 'Sudan',
       'United Kingdom', 'Zambia', 'Eritrea', 'Djibouti', 'Namibia',
       'Congo', 'Bangladesh', 'Canada', 'Sri Lanka', 'Germany',
       'China, Hong Kong SAR', 'Ireland', 'Italy', 'Japan', 'Malaysia',
       'Pakistan', 'Russian Federation', 'Seychelles', 'Spain',
       'Switzerland', 'United States of America', 'Cabo Verde', 'Lesotho',
       'Nigeria', 'Portugal', 'Mauritius', 'Mayotte', 'Australia', 'Cuba',
       'Indonesia', 'Maldives', 'Nepal', 'Philippines', 'Thailand',
       'Central African Republic', 'Chad', 'Egypt', 'Libya', 'Mali',
       'Algeria', 'Denmark', 'Gambia', 'Ghana', 'Greece', 'Hungary',
       "Côte d'Ivoire", "Dem. People's Republic of Korea",
       'Republic of Korea', 'Mauritania', 'Netherlands', 'Norway',
       'Senegal', 'Sweden', 'Togo', 'Botswana', 'Eswatini', 'Cameroon',
       'Guinea', 'Sao Tome and Principe', 'Benin', 'Equatorial Guinea',
       'Gabon', 'Liberia', 'Niger', 'Austria', 'Cyprus', 'Slovenia',
       'Turkey', 'Lebanon', 'Israel', 'Morocco', 'Syrian Arab Republic',
       'Tunisia', 'Burkina Faso', 'State of Palestine', 'Iraq', 'Jordan',
       'Kuwait', 'Saudi Arabia', 'Western Sahara', 'Afghanistan',
       'Albania', 'Antigua and Barbuda', 'Azerbaijan', 'Argentina',
       'Bahamas', 'Bahrain', 'Armenia', 'Bosnia and Herzegovina',
       'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Myanmar', 'Belarus',
       'Chile', 'Colombia', 'Croatia', 'Czechia', 'Ecuador',
       'El Salvador', 'Estonia', 'Finland', 'Gibraltar', 'Guatemala',
       'Iran (Islamic Republic of)', 'Kazakhstan', 'Kyrgyzstan', 'Mexico',
       'Monaco', 'Mongolia', 'Republic of Moldova', 'Oman', 'New Zealand',
       'Poland', 'Guinea-Bissau', 'Qatar', 'Romania', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Tajikistan', 'United Arab Emirates',
       'Turkmenistan', 'Ukraine', 'North Macedonia', 'Uzbekistan',
       'Venezuela (Bolivarian Republic of)', 'Luxembourg', 'Barbados',
       'Bermuda', 'Bolivia (Plurinational State of)',
       'British Virgin Islands', 'Fiji', 'Guyana', 'Iceland', 'Jamaica',
       "Lao People's Democratic Republic", 'Latvia', 'Lithuania', 'Malta',
       'Nauru', 'Nicaragua', 'Niue', 'Northern Mariana Islands', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Saint Helena',
       'Saint Kitts and Nevis', 'Serbia', 'Trinidad and Tobago',
       'Uruguay', 'Viet Nam', 'Timor-Leste',
       'United States Virgin Islands', 'Andorra', 'Bhutan', 'Belize',
       'Solomon Islands', 'Cambodia', 'Costa Rica', 'Dominica',
       'Dominican Republic', 'Kiribati', 'Haiti', 'Honduras',
       'Liechtenstein', 'Micronesia (Fed. States of)', 'Marshall Islands',
       'Palau', 'Saint Vincent and the Grenadines', 'Tonga', 'Tuvalu',
       'Samoa', 'American Samoa', 'French Polynesia', 'Grenada',
       'Guadeloupe', 'Turks and Caicos Islands', 'Georgia',
       'China, Macao SAR', 'Guam', 'Aruba', 'Puerto Rico', 'Suriname',
       'Anguilla', 'Cayman Islands', 'Greenland', 'Holy See',
       'Isle of Man', 'Montenegro', 'San Marino', 'Tokelau', 'Vanuatu',
       'Wallis and Futuna Islands', 'Saint Lucia',
       'Falkland Islands (Malvinas)', 'Faroe Islands', 'New Caledonia',
       'French Guiana', 'Martinique', 'Curaçao', 'Montserrat',
       'Channel Islands', 'Bonaire, Sint Eustatius and Saba',
       'Cook Islands', 'Saint Pierre and Miquelon',
       'Sint Maarten (Dutch part)', 'China, Taiwan Province of China',
       'Saint Barthélemy', 'Saint Martin (French part)'], dtype=object)

In [129]:
#Clean DataSet by removing grouped numbers
destination_dataset__unique_origin_df = destination_dataset_df.loc[destination_dataset_df['Origin'].isin(['Micronesia', 'Belgium','Democratic Republic of the Congo', 'France', 'Kenya', 'Rwanda','Uganda', 'United Republic of Tanzania', 'Other', 'Madagascar',
                                                                                                          'Réunion', 'Ethiopia', 'Somalia', 'Yemen', 'Angola', 'Burundi','China', 'Comoros', 'India', 'Malawi', 'Mozambique','South Africa', 'Zimbabwe', 'South Sudan', 'Sudan',
                                                                                                          'United Kingdom', 'Zambia', 'Eritrea', 'Djibouti', 'Namibia','Congo', 'Bangladesh', 'Canada', 'Sri Lanka', 'Germany','China, Hong Kong SAR', 'Ireland', 'Italy', 'Japan', 
                                                                                                          'Malaysia','Pakistan', 'Russian Federation', 'Seychelles', 'Spain','Switzerland', 'United States of America', 'Cabo Verde', 'Lesotho','Nigeria', 'Portugal', 'Mauritius', 
                                                                                                          'Mayotte', 'Australia', 'Cuba','Indonesia', 'Maldives', 'Nepal', 'Philippines', 'Thailand','Central African Republic', 'Chad', 'Egypt', 'Libya', 'Mali','Algeria', 'Denmark', 
                                                                                                          'Gambia', 'Ghana', 'Greece', 'Hungary',"Côte d'Ivoire", "Dem. People's Republic of Korea",'Republic of Korea', 'Mauritania', 'Netherlands', 'Norway','Senegal', 'Sweden',
                                                                                                          'Togo', 'Botswana', 'Eswatini', 'Cameroon','Guinea', 'Sao Tome and Principe', 'Benin', 'Equatorial Guinea','Gabon', 'Liberia', 'Niger', 'Lebanon', 'Israel', 'Morocco',
                                                                                                          'Syrian Arab Republic', 'Tunisia', 'Burkina Faso','State of Palestine', 'Iraq', 'Jordan', 'Kuwait', 'Saudi Arabia','Western Sahara', 'Afghanistan', 'Albania', 'Antigua and Barbuda',
                                                                                                          'Azerbaijan', 'Argentina', 'Austria', 'Bahamas', 'Bahrain','Armenia', 'Bosnia and Herzegovina', 'Brazil', 'Brunei Darussalam','Bulgaria', 'Myanmar', 'Belarus', 'Chile', 
                                                                                                          'Colombia', 'Croatia','Cyprus', 'Czechia', 'Ecuador', 'El Salvador', 'Estonia','Finland', 'Gibraltar', 'Guatemala', 'Iran (Islamic Republic of)','Kazakhstan', 'Kyrgyzstan', 
                                                                                                          'Mexico', 'Monaco', 'Mongolia','Republic of Moldova', 'Oman', 'New Zealand', 'Poland','Guinea-Bissau', 'Qatar', 'Romania', 'Sierra Leone', 'Singapore','Slovakia', 'Tajikistan',
                                                                                                          'United Arab Emirates', 'Turkey','Turkmenistan', 'Ukraine', 'North Macedonia', 'Uzbekistan','Venezuela (Bolivarian Republic of)', 'Luxembourg', 'Barbados','Bermuda',
                                                                                                          'Bolivia (Plurinational State of)','British Virgin Islands', 'Fiji', 'Guyana', 'Iceland', 'Jamaica',"Lao People's Democratic Republic", 'Latvia', 'Lithuania', 'Malta',
                                                                                                          'Nauru', 'Nicaragua', 'Niue', 'Northern Mariana Islands', 'Panama','Papua New Guinea', 'Paraguay', 'Peru', 'Saint Helena','Saint Kitts and Nevis', 'Serbia', 'Trinidad and Tobago',
                                                                                                          'Uruguay', 'Viet Nam', 'Timor-Leste','United States Virgin Islands', 'Andorra', 'Bhutan', 'Belize','Solomon Islands', 'Cambodia', 'Costa Rica', 'Dominica','Dominican Republic',
                                                                                                          'Kiribati', 'Haiti', 'Honduras','Liechtenstein', 'Micronesia (Fed. States of)', 'Marshall Islands','Palau', 'Saint Vincent and the Grenadines', 'Slovenia', 'Tonga','Tuvalu',
                                                                                                          'Samoa', 'American Samoa', 'French Polynesia', 'Grenada','Guadeloupe', 'Turks and Caicos Islands', 'Georgia','China, Macao SAR', 'Guam', 'Aruba', 'Puerto Rico', 'Suriname',
                                                                                                          'Anguilla', 'Cayman Islands', 'Greenland', 'Holy See','Isle of Man', 'Montenegro', 'San Marino', 'Tokelau', 'Vanuatu','Wallis and Futuna Islands', 'Saint Lucia',
                                                                                                          'Falkland Islands (Malvinas)', 'Faroe Islands', 'New Caledonia','French Guiana', 'Martinique', 'Curaçao', 'Montserrat','Channel Islands', 'Bonaire, Sint Eustatius and Saba',
                                                                                                          'Cook Islands', 'Saint Pierre and Miquelon','Sint Maarten (Dutch part)', 'China, Taiwan Province of China','Saint Barthélemy', 'Saint Martin (French part)'])]
destination_dataset__unique_origin_df

,Destination,Origin,2015 Combined,2020 Combined,2015 Males,2020 Males,2015 Females,2020 Females
6555,Burundi,Micronesia,0,0,0,0,0,0
6557,Burundi,Belgium,605,718,288,343,317,375
6558,Burundi,Democratic Republic of the Congo,175768,199585,89489,101757,86279,97828
6559,Burundi,France,302,358,145,174,157,184
6560,Burundi,Kenya,1032,1226,582,693,450,533
...,...,...,...,...,...,...,...,...
37046,Wallis and Futuna Islands,French Polynesia,15,10,8,5,7,5
37047,Wallis and Futuna Islands,Mayotte,38,27,26,18,12,9
37048,Wallis and Futuna Islands,New Caledonia,1021,1021,508,509,513,512
37049,Wallis and Futuna Islands,Vanuatu,72,67,38,39,34,28
37050,Wallis and Futuna Islands,Other,27,26,12,13,15,13

In [130]:
#Writing this clean dataset to a CSV
destination_dataset__unique_origin_df.to_csv("Data Cleaning/Raw Data/clean_migration_data.csv", index=False)

In [131]:
#Reading the clean CSV
clean_data_csv = pd.read_csv("Data Cleaning/Raw Data/clean_migration_data.csv")
clean_data_csv

,Destination,Origin,2015 Combined,2020 Combined,2015 Males,2020 Males,2015 Females,2020 Females
0,Burundi,Micronesia,0,0,0,0,0,0
1,Burundi,Belgium,605,718,288,343,317,375
2,Burundi,Democratic Republic of the Congo,175768,199585,89489,101757,86279,97828
3,Burundi,France,302,358,145,174,157,184
4,Burundi,Kenya,1032,1226,582,693,450,533
...,...,...,...,...,...,...,...,...
12889,Wallis and Futuna Islands,French Polynesia,15,10,8,5,7,5
12890,Wallis and Futuna Islands,Mayotte,38,27,26,18,12,9
12891,Wallis and Futuna Islands,New Caledonia,1021,1021,508,509,513,512
12892,Wallis and Futuna Islands,Vanuatu,72,67,38,39,34,28
12893,Wallis and Futuna Islands,Other,27,26,12,13,15,13

In [140]:
#Finding sum of all columns in a Python Dataset to check later

print("Sum of 2015 combined data is", clean_data_csv['2015 Combined'].sum())
print("Sum of 2020 combined data is", clean_data_csv['2020 Combined'].sum())
print("Sum of 2015 males data is", clean_data_csv['2015 Males'].sum())
print("Sum of 2020 males data is", clean_data_csv['2020 Males'].sum())
print("Sum of 2015 females data is", clean_data_csv['2015 Females'].sum())
print("Sum of 2020 females data is", clean_data_csv['2020 Females'].sum())

Sum of 2015 combined data is 253947035
Sum of 2020 combined data is 291430136
Sum of 2015 males data is 131198370
Sum of 2020 males data is 151073392
Sum of 2015 females data is 122748665
Sum of 2020 females data is 140356744

In [189]:
#Destination countries based Summations
sum_by_destination = clean_data_csv.groupby('Destination').sum()
sum_by_destination_df = sum_by_destination.reset_index()
sum_by_destination_df

,Destination,2015 Combined,2020 Combined,2015 Males,2020 Males,2015 Females,2020 Females
0,Afghanistan,339432,144098,171550,69189,167882,74909
1,Albania,52031,48810,26517,24908,25514,23902
2,Algeria,239473,250378,126522,132142,112951,118236
3,American Samoa,23513,23608,11998,12047,11515,11561
4,Andorra,42264,45574,21485,23333,20779,22241
...,...,...,...,...,...,...,...
232,Wallis and Futuna Islands,2050,2040,1035,1030,1015,1010
233,Western Sahara,5179,5424,3059,3205,2120,2219
234,Yemen,379882,387113,199390,223512,180492,163601
235,Zambia,132107,187955,66651,97556,65456,90399
236,Zimbabwe,400482,416141,225653,236561,174829,179580

In [190]:
sum_by_destination_df.dtypes

Destination      object
2015 Combined     int64
2020 Combined     int64
2015 Males        int64
2020 Males        int64
2015 Females      int64
2020 Females      int64
dtype: object

In [191]:
#Writing this clean destination dataset to a CSV
sum_by_destination_df.to_csv("Data Cleaning/Raw Data/clean_destination_data.csv", index=False)

In [192]:
#Reading the clean destination CSV
clean_destination_csv = pd.read_csv("Data Cleaning/Raw Data/clean_destination_data.csv")
clean_destination_csv

,Destination,2015 Combined,2020 Combined,2015 Males,2020 Males,2015 Females,2020 Females
0,Afghanistan,339432,144098,171550,69189,167882,74909
1,Albania,52031,48810,26517,24908,25514,23902
2,Algeria,239473,250378,126522,132142,112951,118236
3,American Samoa,23513,23608,11998,12047,11515,11561
4,Andorra,42264,45574,21485,23333,20779,22241
...,...,...,...,...,...,...,...
232,Wallis and Futuna Islands,2050,2040,1035,1030,1015,1010
233,Western Sahara,5179,5424,3059,3205,2120,2219
234,Yemen,379882,387113,199390,223512,180492,163601
235,Zambia,132107,187955,66651,97556,65456,90399
236,Zimbabwe,400482,416141,225653,236561,174829,179580

In [193]:
#Finding sum of all columns in a Python Dataset

print("Sum of 2015 combined data is", clean_destination_csv['2015 Combined'].sum())
print("Sum of 2020 combined data is", clean_destination_csv['2020 Combined'].sum())
print("Sum of 2015 males data is", clean_destination_csv['2015 Males'].sum())
print("Sum of 2020 males data is", clean_destination_csv['2020 Males'].sum())
print("Sum of 2015 females data is", clean_destination_csv['2015 Females'].sum())
print("Sum of 2020 females data is", clean_destination_csv['2020 Females'].sum())

Sum of 2015 combined data is 253947035
Sum of 2020 combined data is 291430136
Sum of 2015 males data is 131198370
Sum of 2020 males data is 151073392
Sum of 2015 females data is 122748665
Sum of 2020 females data is 140356744

In [208]:
#Making the clean destination CSV to final usable format

# group by 'Destination' and compute the sum of all columns
destination_final = clean_data_csv.groupby('Destination').agg({'2015 Combined': 'sum', '2020 Combined': 'sum','2015 Males': 'sum', '2020 Males': 'sum','2015 Females': 'sum', '2020 Females': 'sum'})

# convert the columns to rows
destination_final = destination_final.stack().reset_index()

# rename the columns
destination_final.columns = ['Destination', 'Year', 'Migrating into the country']

# print the resulting dataframe
destination_final

      Destination           Year  Migrating into the country
0     Afghanistan  2015 Combined                      339432
1     Afghanistan  2020 Combined                      144098
2     Afghanistan     2015 Males                      171550
3     Afghanistan     2020 Males                       69189
4     Afghanistan   2015 Females                      167882
...           ...            ...                         ...
1417     Zimbabwe  2020 Combined                      416141
1418     Zimbabwe     2015 Males                      225653
1419     Zimbabwe     2020 Males                      236561
1420     Zimbabwe   2015 Females                      174829
1421     Zimbabwe   2020 Females                      179580

[1422 rows x 3 columns]

In [209]:
#Writing the final destination dataset to a CSV
destination_final.to_csv("Data Cleaning/Raw Data/final_destination_data.csv", index=False)

In [210]:
#Reading the final destination CSV
final_destination_csv = pd.read_csv("Data Cleaning/Raw Data/final_destination_data.csv")
final_destination_csv

      Destination           Year  Migrating into the country
0     Afghanistan  2015 Combined                      339432
1     Afghanistan  2020 Combined                      144098
2     Afghanistan     2015 Males                      171550
3     Afghanistan     2020 Males                       69189
4     Afghanistan   2015 Females                      167882
...           ...            ...                         ...
1417     Zimbabwe  2020 Combined                      416141
1418     Zimbabwe     2015 Males                      225653
1419     Zimbabwe     2020 Males                      236561
1420     Zimbabwe   2015 Females                      174829
1421     Zimbabwe   2020 Females                      179580

[1422 rows x 3 columns]

In [212]:
#Do a total check to match with Origin number
final_destination_csv['Migrating into the country'].sum()

1090754342

In [168]:
#Origin countries based Summations
sum_by_origin = clean_data_csv.groupby('Origin').sum()
sum_by_origin_df = sum_by_origin.reset_index()
sum_by_origin_df

,Origin,2015 Combined,2020 Combined,2015 Males,2020 Males,2015 Females,2020 Females
0,Afghanistan,5401107,5854088,2903020,3226466,2498087,2627622
1,Albania,1143002,1250608,576306,642717,566696,607891
2,Algeria,1837346,2023250,986073,1086178,851273,937072
3,American Samoa,1984,1854,1004,936,980,918
4,Andorra,8753,11146,4213,5316,4540,5830
...,...,...,...,...,...,...,...
232,Wallis and Futuna Islands,11227,11917,5364,5673,5863,6244
233,Western Sahara,185885,194932,98132,102851,87753,92081
234,Yemen,1095240,1301166,720626,847302,374614,453864
235,Zambia,184375,200703,86167,93623,98208,107080
236,Zimbabwe,1167205,1243461,602202,641258,565003,602203

In [169]:
#Writing this clean origin dataset to a CSV
sum_by_origin_df.to_csv("Data Cleaning/Raw Data/clean_origin_data.csv", index=False)

In [170]:
#Reading the clean origin CSV
clean_origin_csv = pd.read_csv("Data Cleaning/Raw Data/clean_origin_data.csv")
clean_origin_csv

,Origin,2015 Combined,2020 Combined,2015 Males,2020 Males,2015 Females,2020 Females
0,Afghanistan,5401107,5854088,2903020,3226466,2498087,2627622
1,Albania,1143002,1250608,576306,642717,566696,607891
2,Algeria,1837346,2023250,986073,1086178,851273,937072
3,American Samoa,1984,1854,1004,936,980,918
4,Andorra,8753,11146,4213,5316,4540,5830
...,...,...,...,...,...,...,...
232,Wallis and Futuna Islands,11227,11917,5364,5673,5863,6244
233,Western Sahara,185885,194932,98132,102851,87753,92081
234,Yemen,1095240,1301166,720626,847302,374614,453864
235,Zambia,184375,200703,86167,93623,98208,107080
236,Zimbabwe,1167205,1243461,602202,641258,565003,602203

In [175]:
#Finding sum of all columns in a Python Dataset

print("Sum of 2015 combined data is", clean_origin_csv['2015 Combined'].sum())
print("Sum of 2020 combined data is", clean_origin_csv['2020 Combined'].sum())
print("Sum of 2015 males data is", clean_origin_csv['2015 Males'].sum())
print("Sum of 2020 males data is", clean_origin_csv['2020 Males'].sum())
print("Sum of 2015 females data is", clean_origin_csv['2015 Females'].sum())
print("Sum of 2020 females data is", clean_origin_csv['2020 Females'].sum())

Sum of 2015 combined data is 253947035
Sum of 2020 combined data is 291430136
Sum of 2015 males data is 131198370
Sum of 2020 males data is 151073392
Sum of 2015 females data is 122748665
Sum of 2020 females data is 140356744

In [213]:
#Making the clean origin CSV to final usable format

# group by 'Origin' and compute the sum of all columns
origin_final = clean_data_csv.groupby('Origin').agg({'2015 Combined': 'sum', '2020 Combined': 'sum','2015 Males': 'sum', '2020 Males': 'sum','2015 Females': 'sum', '2020 Females': 'sum'})

# convert the columns to rows
origin_final = origin_final.stack().reset_index()

# rename the columns
origin_final.columns = ['Destination', 'Year', 'Migrating from the country']

# print the resulting dataframe
origin_final

      Destination           Year  Migrating from the country
0     Afghanistan  2015 Combined                     5401107
1     Afghanistan  2020 Combined                     5854088
2     Afghanistan     2015 Males                     2903020
3     Afghanistan     2020 Males                     3226466
4     Afghanistan   2015 Females                     2498087
...           ...            ...                         ...
1417     Zimbabwe  2020 Combined                     1243461
1418     Zimbabwe     2015 Males                      602202
1419     Zimbabwe     2020 Males                      641258
1420     Zimbabwe   2015 Females                      565003
1421     Zimbabwe   2020 Females                      602203

[1422 rows x 3 columns]

In [214]:
#Writing the final origin dataset to a CSV
origin_final.to_csv("Data Cleaning/Raw Data/final_origin_data.csv", index=False)

In [215]:
#Reading the final origin CSV
final_origin_csv = pd.read_csv("Data Cleaning/Raw Data/final_origin_data.csv")
final_origin_csv

      Destination           Year  Migrating from the country
0     Afghanistan  2015 Combined                     5401107
1     Afghanistan  2020 Combined                     5854088
2     Afghanistan     2015 Males                     2903020
3     Afghanistan     2020 Males                     3226466
4     Afghanistan   2015 Females                     2498087
...           ...            ...                         ...
1417     Zimbabwe  2020 Combined                     1243461
1418     Zimbabwe     2015 Males                      602202
1419     Zimbabwe     2020 Males                      641258
1420     Zimbabwe   2015 Females                      565003
1421     Zimbabwe   2020 Females                      602203

[1422 rows x 3 columns]

In [216]:
#Do a total check to match with Destination number
final_origin_csv['Migrating from the country'].sum()

1090754342